<div nz-row class="productList">
    <div nz-col nzSpan="6" nzSm="8" nzMd="6" nzXs="24" class="content-list" *ngFor="let product of products" (click)="showModal(product)">
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate" class="card-container">
            <nz-card-meta nzTitle="{{product.name}}" nzDescription="{{product.description}}"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
            <img alt="{{product.name}}" src="{{product.image}}" class="imgProduct" />
        </ng-template>
    </div>
</div>


<nz-modal
    [(nzVisible)]="isVisible"
    (nzOnCancel)="handleCancel()"
    nzClassName="modalProductDetails"
>
<div nz-row> 
    <div nz-col nzSpan="12">
        <div nz-row class="contentLeft"> 
            <div nz-col nzSpan="24" class="contentTitle">
                <p>{{productDetails.name}}</p>
            </div>
            <div nz-col nzSpan="24" class="contentImg">
                <img
                nz-image
                nzSrc="{{productDetails.image}}"
                alt=""
                />
            </div>
        </div>
       
    </div>

    <div nz-col nzSpan="12">
        <div nz-row class="contentRigth">  
            <div nz-col nzSpan="24" class="contentDescription">
                <p>{{productDetails.description}}</p>
            </div>
            <div nz-col nzSpan="24" class="contentButtons"> 
                <button (click)="add()" [nzLoading]="isOkLoading" nz-button nzType="dashed" nzSize="large" nzShape="round">
                    <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>Agregar al carrito
                </button>
            </div>
        </div>
    </div>
</div>

</nz-modal>
    
